body
{
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#menu-bar
{
	height: 30px;
	width: 100%;
	background-color: #555555;
	line-height: 29px;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#profile-marker
{
	width: 200px;
	text-align: center;
	float: right;
}

#profile-uname
{
	margin: 0px;
	border: 0px;
	padding: 0px;
	height: 70%;
}

#profile-login
{
	margin: 0px;
	background-color: #8888FF;
	border: 0px;
	padding: 0px;
	color: #FFFFFF;
	height: 70%;
	width: 40px;	
}

#profile-logout
{
	margin-left: 20px;
	background-color: #8888FF;
	border: 0px;
	padding: 0px;
	color: #FFFFFF;
	height: 70%;
	width: 50px;
}

#profile-name
{
	margin: 0px;
	border: 0px;
	padding: 0px;
	color: #FFFFFF;
	width: 190px;
	text-align: right;
}

#create-issue
{
        background-color: #FFFFFF;
        border-width: 1px;
        border-color: #AAAAAA;
        border-style: solid;
        border-radius: 10px;
        width: 90%;
        margin: 10px auto;
	padding: 10px;
	overflow: hidden;
}

#profile-issues
{
	width: 100%;
}

#write-issue
{
        resize: none;
	background-color: #FFFFFF;
	width: 90%;
	height: 200px;
        margin: 0px;
	padding: 0px;
	border: 0px;
}

#submit-issue
{
	border-radius: 10px;
	width: 10%;
	height: 200px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-color: #AAAAFF;
	float: right;
	cursor: pointer;
	color: #FFFFFF;
}

.profile-issue
{
	background-color: #FFFFFF;
	border-width: 1px;
	border-color: #AAAAAA;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
	width: 90%;
	margin: 10px auto;
	
}

.sentence
{
}

.sentence:hover
{
	color:#5555FF;
	cursor:pointer;
}
