html
{
	margin: 0px;
	border: 0px;
}

body
{
	margin: 0px;
	border: 0px;
}

#menu_pane
{
	position: absolute;
	background-color: #FFFFFF;
	height: 100%;
	width: 400px;
	margin: 0px;
	border-right: 1px solid #AAAAAA;
	border-left: 0px;
	border-top: 0px;
	border-bottom:0px;
}

.issue
{
	width: 100%;
	height: 100px;
	margin: 0px;
	border-bottom: 1px solid #AAAAAA;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	background-color: #FFFFFF;
}

.issue:hover
{
	background-color: #CCCCCC;
}

#new_issue
{
	font-family: Verdana;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
}

#content_pane
{
	position: absolute;
	left: 400px;
	right: 0px;
	height: 100%;
	margin: 0px;
	border-left: 1px solid #AAAAAA;
	border-top: 0px;
	border-bottom: 0px;
	border-right: 0px;
}

.create_issue
{
	font-family: Verdana;
        font-size: 30px;
	position: relative;
	display: none;
	width: 100%;
	height: 90%;
	text-align: center;
	vertical-align: middle;
	margin: 0px;
	border: 0px;
}

.create_issue_form
{
	font-family: "Verdana";
	position: relative;
	margin: 0px;
	border: 0px;
	margin-top: 50px;
}

#issue_text
{
	width: 80%;
	height: 85%;
	margin: 0px;
	border: 1px solid #AAAAAA;
}
